nav{
    background-color:rgb(255, 217, 0);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    background-image: url(images copy.jpeg);
}